<div class="grid gap-2 md:grid-cols-3 md:gap-5 mt-0 m-1">
  <!-- Image Cards -->
  <div *ngFor="let item of about" class="bg-white shadow-lg rounded-lg">
    <img [src]="item.image" alt="" class="w-full h-100 object-cover">
  </div>

  <!-- Text Card (Spanning Two Columns) -->
  <div class="bg-white shadow-lg rounded-lg p-6 md:col-span-2">
    <h2 class="text-4xl font-bold text-center mb-4">Experiencing God Network</h2>
    <p class="text-xl font-roboto mb-4 text-justify">
      Experiencing God Network is an Apostolic/Prophetic platform where people experience God and get equipped to represent God in the spheres of influence where they've been called to stand, through Prophetic, Creativity, and Wisdom. The Apostolic is the equipping in the power of the Kingdom of God. The prophetic helps us see the seasonal perspective of Heaven for the spheres of influence - Church, Family, Media, Business, Arts and Entertainment, and Government.
    </p>
    <p class="font-roboto text-xl text-justify">
      Experiencing God Network was founded through a series of supernatural events of God with His servant Miracle Ayo in 2011. What began in a small room is now touching and transforming hundreds of people everywhere. We are known for deep intense prayer, heavenly sounds and worship, prophecy, and cutting-edge prophetic teaching/equipping. We are a platform that provides an environment of love and power where everyone can experience God for themselves and get equipped to represent Him.
    </p>
  </div>
</div>

