
<div class="bg-gray-800 text-gray-300 py-16 " *ngFor="let item of site">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">
      <div class="text-lg sm:text-xl font-roboto mb-6 sm:mb-0">
        <h3 class="font-semibold mb-2 text-xl sm:text-2xl">Contact Us</h3>
        <p>Jushi, Sabon Gari, Zaria, Kaduna, Nigeria</p>
        <p>Phone: 0903 457 4384</p>
        <p>Email: experiencinggod.net04</p>
      </div>
      <div class="flex space-x-4 mt-4 sm:mt-0 ">
        <a [href]="item.facebook" class="text-gray-300 hover:text-white transition">
          <span class="bi bi-facebook text-2xl"></span>
        </a>
        <a [href]="item.whatsapp" class="text-gray-300 hover:text-white transition">
          <span class="bi bi-whatsapp text-2xl"></span>
        </a>
        <a [href]="item.telegram" class="text-gray-300 hover:text-white transition">
          <span class="bi bi-telegram text-2xl"></span>
        </a>
        <a [href]="item.youtube" class="text-gray-300 hover:text-white transition">
          <span class="bi bi-youtube text-2xl"></span>
        </a>
        <a [href]="item.instagram" class="text-gray-300 hover:text-white transition">
          <span class="bi bi-instagram text-2xl"></span>
        </a>
      </div>
    </div>
  </div>
</div>
